<header class="navbar navbar-static-top navbar-inverse">
  <div class="container">
      <nav>
        <ul class="nav navbar-nav navbar-right" style="padding-top: 20px;">
          <li><%= link_to "Home",   '#' %></li>
        </ul>
      </nav>
  </div>
</header>
