<header class="navbar navbar-static-top navbar-inverse">
  <div class="container">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
      <%= image_tag 'dumpling.png' %>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">
      <nav>
        <ul class="nav navbar-nav navbar-right" style="padding-top: 20px;">
          <li><%= link_to "Home",   '#' %></li>
          <li><%= link_to "Help",   '#' %></li>
          <li><%= link_to "Log in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
